 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  
  /* background: #DDD; */
  /* font-size: 16px; */
  /* color: #222; */
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 300;
}

/* NavBar */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 20px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white !important;
  font-family: Nanotech LLC;
  
  

}
.navbar-brand{
  font-family: Joint by PizzaDude;
  color: coral !important;
}
/* .navbar-toggler-icon{
  color: black;
} */
.navbar *{
  display: inline;
  text-decoration: none;
}
.navbar ul{
  list-style-type: none;
  display: flex;
  
}
.navbar li{
  margin: 20px;
  padding-left: 30px;

}
.nav-link{
  color: black !important;
  transition: 0.5s ease-in-out;
  
}
.nav-link:hover{
  color: coral !important;
}
.signupt{
  padding: 5% 10%;
  background-color: #DD4B39;
  border: none;
  color: white;
  outline: none;
  margin: 10% 0;
  transition: 0.5s ease-in-out;
}
.signupt:hover{
  background-color: white;
  color: #DD4B39;
}




/* Sec1 */
.sec1{
  background-image: url(./images/coding\ girl.jpg);
  height: 100vh;
  background-size: cover;
  padding: 30px;
  margin-top: 5%;
  background-attachment: fixed;
}

/* Sec: 2*/
.sec2{
  margin: 2%;
  padding-top: 10%;
}
.sec2head{
  text-align: center;
}


/* Sec3 */
.sec3{
  margin: 2% 0;
  background-color: coral;
  color: white;
  padding: 5% 0;
}
.sec3head{
  text-align: center;
  margin: 2%;
}

hr{
  display: none;
}
.contall{
  display: flex;
  flex-direction: row;
}

.cont{
  width: 30%;
  height: auto;
  border: 1px solid coral;
  text-align: center;
  margin: 3%;
  
}
.fa-history, .fa-heart{
  font-size: 70px;
  
}


.tit{
  /* margin-top: 15%; */
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  color: coral;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2%;
}

.sec1btn{
  padding: 20px 50px;
  background-color: coral;
  color: white;
  font-family: Nanotech LLC;
  outline: none;
  border: none;
  margin-left: 45%;
}

/* Sign Up */

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;

}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('./images/IMG_1553.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgb(230, 79, 24);
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: coral;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(230, 79, 24);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(255, 120, 71);
  color: #fff;
  box-shadow: -1px 2px 2px black ;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: rgb(230, 79, 24) ;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: rgb(230, 79, 24);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

@media screen and (max-width: 900px){
  
  }

  .tit{
    margin-top: 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 900;
    color: coral;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 400px) {
  .sec1{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  

  .tit{
    color: coral;
    font-size: 1.5em;
    margin-top: 5em;
  }
  
  .sec1btn{
    text-align: center;
    margin-left: 28%;
    padding: 10px;
    border-radius: 5px;
  }

  .sec2head{
    font-size: 1.5rem;
  }

  .p{
    margin-left: 15px;
    font-size: 1.0rem;
  }

  .contpara{
    padding: 5px;
  }


  .contall{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .sec2head{
    font-size: 10px;
  }

  .footer{
    z-index: -1;
  }
  .cont{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 5%;

    
  }
  .fa-history, .fa-heart{
    font-size: 20px;    
  }

  .footer{
    color: black;
  }
  #footer .footer-top {
    background: whitesmoke;
    color: black;
    padding: 60px 0 30px 0;
  }

  #footer .footer-top h4{
    color: black;
  }
  
  .signup{
    display: none;
  }


  .footer-info{
    padding-top: 0;
    width: 100%;
  }

  .footer-info > p{
    color: black !important;
  }

  .footer-info > img{
    width: 25%;
  }


  .footer-contact h4, .footer-newsletter h4{
    font-size: 1.5rem;
  }


  .social-links{
    position: absolute;
    margin-top: 120%;
    padding-bottom: 10px;  
    background-color: white;
    padding-left: 15%;
  }


}